<div>
  <h3>
    Client-side Search and Filtering
    <small>

    </small>
  </h3>


  <input
    type='text'
    style='padding:8px;margin:15px auto;width:30%;'
    placeholder='Type to filter the name column...'
    (keyup)='updateFilter($event)'
  />

  <md-slide-toggle (change)="toggleView()"
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled">
    Change view
  </md-slide-toggle>


  <app-full-table *ngIf="!checked"
    [rows]="rows"
  ></app-full-table>

  <app-compact-table *ngIf="checked"
    [rows]="rows">
  </app-compact-table>

</div>

