<div>
  <h3>
    Client-side Search and Filtering
    <small>
      <a href="https://github.com/swimlane/ngx-datatable/blob/master/demo/basic/filter.component.ts" target="_blank">
        Source
      </a>
    </small>
  </h3>
  <input
    type='text'
    style='padding:8px;margin:15px auto;width:30%;'
    placeholder='Type to filter the name column...'
    (keyup)='updateFilter($event)'
  />
  <ngx-datatable
    #table
    class='material'
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [rows]='rows'
  >
    <ngx-datatable-column name="Id">
       <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Photo">
      <ng-template let-value="value" ngx-datatable-cell-template>
         <img  width="50" [src]="value" />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="fullName">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="averageGrade">
      <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="deliveredHomeworks">
        <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="missingHomeworks">
        <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="completed">
        <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="lastUpdated">
        <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>



</div>
