<h1>Create student</h1>

<form #formulario="ngForm">
<md-card class="card">
    <p>
      Full name: 
      <input
        type="text"
        name="fullName"
        #fullName="ngModel"
        [(ngModel)]="student.fullName"
      >
    </p>
    <p>
      Average Grade:
      <input
        type="text"
        name="averageGrade"
        [(ngModel)]="student.averageGrade"
        #averageGrade="ngModel"
      >
    </p>
    <p>
      Delivered Homeworks:
      <input
        type="text"
        name="deliveredHomeworks"
        [(ngModel)]="student.deliveredHomeworks"
        #deliveredHomeworks="ngModel"
      >

    </p>
    <p>
      Missing Homeworks:
      <input
        type="text"
        name="missingHomeworks"
        [(ngModel)]="student.missingHomeworks"
        #missingHomeworks="ngModel"
      >

    </p>
    <p>
      {{student.fullName}}
    </p>

  <button  md-raised-button type="button" (click)="createStudent(formulario)">Save</button>
  <button  md-raised-button (click)="goBack()">Back</button>

</md-card>
</form>








