<h1>Create student</h1>

<form #formulario="ngForm">
<md-card class="card">
    <p>
      Full name:
      <input
        type="text"
        name="fullName"
        #fullName="ngModel"
        [(ngModel)]="student.fullName"
      >
    </p>
    <p>
      Average Grade:
      <input
        type="number"
        min="0"
        max="5"
        name="averageGrade"
        [(ngModel)]="student.averageGrade"
        #averageGrade="ngModel"
      >
    </p>
    <p>
      Delivered Homeworks:
      <input
        type="number"
        min="0"
        max="6"
        name="deliveredHomeworks"
        [(ngModel)]="student.deliveredHomeworks"
        #deliveredHomeworks="ngModel"
      >
    </p>
    <p>
      Missing Homeworks:
      <input
        disabled
        type="number"
        min="0"
        max="6"
        name="missingHomeworks"
        [(ngModel)]="6 - student.deliveredHomeworks"
        #missingHomeworks="ngModel"
      >
    </p>

  <button  md-raised-button type="button" (click)="createStudent(formulario)">Save</button>
  <button  md-raised-button (click)="goBack()">Back</button>

</md-card>
</form>








