<form #formulario="ngForm">
<md-card class="card">
    <h1>Student Detail</h1>
    <md-card-title>
      <img class="img-detail" [src]="student?.photo" />
    </md-card-title>
    <md-card-title>
      Full Name:
      <input
        *ngIf="editing"
        type="text"
        name="fullName"
        #fullName="ngModel"
        [ngModel]="student?.fullName"
      >
      <span *ngIf="!editing">
        {{student?.fullName}}
      </span>
    </md-card-title>
    <p>
      Average Grade:
      <input
        *ngIf="editing"
        type="number"
        min="0"
        max="6"
        name="averageGrade"
        [ngModel]="student?.averageGrade"
        #averageGrade="ngModel"
      >
      <span *ngIf="!editing">{{student?.averageGrade}}</span>
    </p>

    <p>
      Delivered Homeworks:
      <input
        *ngIf="editing"
        type="number"
        min="0"
        max="6"
        name="deliveredHomeworks"
        [ngModel]="student?.deliveredHomeworks"
        #deliveredHomeworks="ngModel"
      >
      <span *ngIf="!editing">{{student?.deliveredHomeworks}}</span>
    </p>
    <p>
      Missing Homeworks:
      <input
        *ngIf="editing"
        disabled
        type="number"
        min="0"
        max="6"
        name="missingHomeworks"
        [ngModel]="6 - formulario.value.deliveredHomeworks"
        #missingHomeworks="ngModel"
      >
      <span *ngIf="!editing">{{student?.missingHomeworks}}</span>
    </p>
    <p>
      Last Updated:
      {{student?.lastUpdated | date:'medium' }}
    </p>

  <button md-raised-button type="button" (click)="deleteStudent(student?.id)">Delete</button>

  <button md-raised-button type="button" (click)="editStudent(formulario)">{{editing ? 'Save': 'Edit'}}</button>

  <button md-raised-button (click)="goBack()">Back</button>


</md-card>
</form>







