<form #formulario="ngForm">
<md-card class="card">
  <button (click)="goBack()">Back</button>
  <md-card-header>
    <md-card-title><img class="img-detail" [src]="student?.photo" /></md-card-title>
    <md-card-title>
      <input
        type="text"
        name="fullName"
        #fullName="ngModel"
        [ngModel]="student?.fullName"
      >
      {{student?.fullName}}
    </md-card-title>
    <md-card-subtitle>
      Average Grade:
      <input
        type="text"
        name="averageGrade"
        [ngModel]="student?.averageGrade"
        #averageGrade="ngModel"
      >
      {{student?.averageGrade}}
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      Delivered Homeworks:
      <input
        type="text"
        name="deliveredHomeworks"
        [ngModel]="student?.deliveredHomeworks"
        #deliveredHomeworks="ngModel"
      >
      {{student?.deliveredHomeworks}}
    </p>
    <p>
      Missing Homeworks:
      <input
        type="text"
        name="missingHomeworks"
        [ngModel]="student?.missingHomeworks"
        #missingHomeworks="ngModel"
      >
      {{student?.missingHomeworks}}
    </p>
    <p>
      {{student?.completed}}
    </p>
    <p>
      Last Updated:
      {{student?.lastUpdated}}
    </p>
  </md-card-content>

  <button type="button" (click)="deleteStudent(student?.id)">Delete</button>

  <button type="button" (click)="editStudent(formulario)">Edit</button>

</md-card>
</form>







