<md-card class="card">
  <button (click)="goBack()">Back</button>
  <md-card-header>
    <md-card-title><img class="img-detail" [src]="student?.photo" /></md-card-title>
    <md-card-title>{{student?.fullName}}</md-card-title>
    <md-card-subtitle>Average Grade: {{student?.averageGrade}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>Delivered Homeworks: {{student?.deliveredHomeworks}}</p>
    <p>Missing Homeworks: {{student?.missingHomeworks}}</p>
    <p>{{student?.completed}}</p>
    <p>Last Updated: {{student?.lastUpdated}}</p> 
  </md-card-content>
  
</md-card>
 






